@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;  
  margin: 0px;  
  background: #1c212f;
  color: white;
}

#pages {
    width: 100%;
    height: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;

/*     border: 0.1px solid red; */
}

#homeButtons > button {
    --hbb-margin: 30px;
    
    margin: var(--hbb-margin);
    width: calc(50% - 2*var(--hbb-margin));
    height: calc(50% - 2*var(--hbb-margin)); 
    background-image: linear-gradient(to right bottom, #1281e7, #008be9, #0095e9, #009de8, #12a6e7);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    font-size: 40px;
    transition-duration: 0.1s;
    box-shadow: 0px 0px 20px 5px black, 0px 0px 15px 0px #1175b0 inset;
}

#homeButtons > button:hover {
     background-image: linear-gradient(to right bottom, #1176d3, #0080d5, #0089d6, #0092d5, #149ad4);
}

#homeButtons > button:active {
     background-image: linear-gradient(to right bottom, #1383eb, #008fee, #009aef, #00a4ef, #1aaeee);
}



#homeButtons, #pages > *  {
    --hb-outer-margin: 60px;
    
    margin: var(--hb-outer-margin);
    width: calc(100% - 2*var(--hb-outer-margin));
    height: calc(100% - 2*var(--hb-outer-margin));

/*     border: 1px dashed red; */
}

#pages > * {
    margin-top: 0px;
    margin-bottom: 0px;
    
    margin-left: var(--hb-outer-margin);
}


#back {
    position: absolute;
    top: 0;
    left: 0;
/*     width: 100; */
    border: none;
    border-radius: 0px 0px 10px 0px;
    background-image: linear-gradient(to right bottom, #ff0000, #fc161e, #f82631, #f33340, #ec3e4d);
    color: white;
    font-weight: 900;
    font-size: 20px;
    padding: 7px;
    box-shadow: 0px 0px 20px 5px black;
    transition-duration: 0.1s; /*bleuck we need to do complex stuff like keyframe animations ect*/
}

#back:hover {
   background-image: linear-gradient(to right bottom, #e50202, #df0f18, #d91a25, #d12430, #c92c39);
}

#back:active {
   background-image: linear-gradient(to right bottom, #fd3b3b, #fb4549, #f74f56, #f35862, #ee616d);
}

.header {
  color: white;
  font-size: 40px;
  text-align: center;
}

.scrollable {
  margin-top: 20px;
  height: calc(100% - 90px);
  overflow-y: scroll;
  width: calc(100%-100px);
/*   background-color: #4d4d4d; */
  padding: 8px;
/*   border-radius: 10px; */
}

.serverListItem {
    padding: 5px;
    margin: 5px;
/*     border: 1px solid #2bff00; */
    border-radius: 2px;
    background-color: #171c28;
    box-shadow: 0px 0px 3px 1px black;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: rgb(41, 41, 49);
    color: white;
    box-shadow: 0px 0px 10px 3px black;
    font-size: 14px;
    -webkit-app-region: drag;
    border-radius: 0px;
}

.option {
    font-weight: 900;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-app-region: no-drag;
    user-select: none;
}

.option:hover {
    background-color: rgb(65, 65, 70);
}

#close:hover {
    background-color: rgb(192, 25, 25);
}